#signin {
    .container {
        max-width: 530px;

        .section-title {
            h1 {
            }

            p {
                .blue {
                    color: $theme;
                    text-decoration: underline;
                }
            }
        }

        .form {
            width: 100%;

            label {
                font-weight: 700;
                font-size: 16px;
                color: $gray-900;
            }

            .email {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                input {
                    width: 100%;
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid $gray-400;

                    &.input-validation-error {
                        position: relative;
                        border: 0.063rem solid $danger !important;
                        color: $danger;

                        &::placeholder {
                            color: $danger;
                        }
                    }

                    &:focus {
                        outline: none;
                        border: 0.063rem solid $gray-600;
                    }
                }
            }

            .password {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                input {
                    width: 100%;
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid $gray-400;

                    &.input-validation-error {
                        position: relative;
                        border: 0.063rem solid $danger !important;
                        color: $danger;

                        &::placeholder {
                            color: $danger;
                        }
                    }

                    &:focus {
                        outline: none;
                        border: 0.063rem solid $gray-600;
                    }
                }
            }

            button.btn-theme {
                width: 100%;
            }

            .box {
                display: flex;
                align-items: center;
                text-align: center;

                p {
                    margin-top: 17px;
                    margin-left: 10px;
                }

                .blue {
                    color: $theme;
                    text-decoration: underline;
                }
            }

            .center-content {
                display: flex;
                justify-content: center;
                align-items: center;

                .forgot-password {
                    font-weight: 700;
                    font-size: 16px;
                    color: $theme;
                    margin-top: 10px;
                }
            }
        }
    }
}
