#signup {
    .container {
        max-width: 530px;

        .section-title {
            h1 {
            }

            p {
                .blue {
                    color: $theme;
                    text-decoration: underline;
                }
            }
        }

        .form {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
                "first" "last" "email" "password" "confirm" "checkbox" "button";

            @include md {
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                    "first last" "email email" "password password" "confirm confirm" "checkbox checkbox" "button button";
            }

            &.field-validation-error {
                position: static;
                top: 0;
                right: 0;
                @include text-s;
                color: $danger;
            }

            label {
                font-weight: 700;
                font-size: 16px;
                color: $gray-900;
            }

            .first-name {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                grid-area: first;

                @include md {
                    width: 95%;
                }

                span {
                    position: relative;
                    width: 100%;

                    &.field-validation-error {
                        @include text-s;
                        color: $danger;

                        &::after {
                            position: absolute;
                            right: 5px;
                            top: 35px;
                            z-index: 10;
                            font-size: 2em;
                            display: block;
                            content: '\2BBF';
                        }
                    }
                }

                input {
                    width: 100%;
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid $gray-400;

                    &.input-validation-error {
                        position: relative;
                        border: 0.063rem solid $danger !important;
                        color: $danger;

                        &::placeholder {
                            color: $danger;
                        }
                    }

                    &:focus {
                        outline: none;
                        border: 0.063rem solid $gray-600;
                    }
                }
            }

            .last-name {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                grid-area: last;

                span {
                    position: relative;
                    width: 100%;

                    &.field-validation-error {
                        @include text-s;
                        color: $danger;

                        &::after {
                            position: absolute;
                            right: 5px;
                            top: 35px;
                            z-index: 10;
                            font-size: 2em;
                            display: block;
                            content: '\2BBF';
                        }
                    }
                }

                input {
                    width: 100%;
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid $gray-400;

                    &.input-validation-error {
                        position: relative;
                        border: 0.063rem solid $danger !important;
                        color: $danger;

                        &::placeholder {
                            color: $danger;
                        }
                    }

                    &:focus {
                        outline: none;
                        border: 0.063rem solid $gray-600;
                    }
                }
            }

            .email {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                grid-area: email;

                span {
                    position: relative;
                    width: 100%;

                    &.field-validation-error {
                        @include text-s;
                        color: $danger;

                        &::after {
                            position: absolute;
                            right: 5px;
                            top: 35px;
                            z-index: 10;
                            font-size: 2em;
                            display: block;
                            content: '\2BBF';
                        }
                    }
                }

                input {
                    width: 100%;
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid $gray-400;

                    &.input-validation-error {
                        position: relative;
                        border: 0.063rem solid $danger !important;
                        color: $danger;

                        &::placeholder {
                            color: $danger;
                        }
                    }

                    &:focus {
                        outline: none;
                        border: 0.063rem solid $gray-600;
                    }
                }
            }

            .password {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                grid-area: password;

                span {
                    position: relative;
                    width: 100%;

                    &.field-validation-error {
                        @include text-s;
                        color: $danger;

                        &::after {
                            position: absolute;
                            right: 5px;
                            top: 35px;
                            z-index: 10;
                            font-size: 2em;
                            display: block;
                            content: '\2BBF';
                        }
                    }
                }

                input {
                    width: 100%;
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid $gray-400;

                    &.input-validation-error {
                        position: relative;
                        border: 0.063rem solid $danger !important;
                        color: $danger;

                        &::placeholder {
                            color: $danger;
                        }
                    }

                    &:focus {
                        outline: none;
                        border: 0.063rem solid $gray-600;
                    }
                }
            }

            .confirm-password {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                grid-area: confirm;

                span {
                    position: relative;
                    width: 100%;

                    &.field-validation-error {
                        @include text-s;
                        color: $danger;

                        &::after {
                            position: absolute;
                            right: 5px;
                            top: 35px;
                            z-index: 10;
                            font-size: 2em;
                            display: block;
                            content: '\2BBF';
                        }
                    }
                }

                input {
                    width: 100%;
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid $gray-400;

                    &.input-validation-error {
                        position: relative;
                        border: 0.063rem solid $danger !important;
                        color: $danger;

                        &::placeholder {
                            color: $danger;
                        }
                    }

                    &:focus {
                        outline: none;
                        border: 0.063rem solid $gray-600;
                    }
                }
            }

            button.btn-theme {
                width: 100%;
            }

            .box {
                display: flex;
                align-items: center;
                text-align: center;
                grid-area: checkbox;

                p {
                    margin-top: 17px;
                    margin-left: 10px;
                }

                .blue {
                    color: $theme;
                    text-decoration: underline;
                }
            }

            .btn-theme {
                grid-area: button;
            }
        }
    }
}
