<section id="dark-light">
    <div class="container">
        <div class="center-text">
            <h1 class="darkmode-title">Switch Between</h1>
            <h1 class="lightmode-title">Light & Dark Mode</h1>
        </div>
        <img src="/images/other/mockup.svg" />
    </div>
    <img class="button-divider" src="/images/other/button-divider.svg" />
</section>
