<section id="downloads">
    <div class="container">
        <img class="screen-img" src="/images/other/taskmaster-mobiles.svg" />
        <div class="content">
            <div class="section-title">
                <h1>Download Our App for Any Devices:</h1>
            </div>
            <div class="rating-box">
                <p>App Store</p>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="button-box mb-5">
                    <div>
                        <h5>Editor's Choice</h5>
                        <p>rating 4.7, 187K+ reviews</p>
                    </div>
                    <img src="/images/other/appstore-download-icon.svg" />
                </div>
                <p>Google Play</p>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="button-box">
                    <div>
                        <h5>App of the Day</h5>
                        <p>rating 4.8, 30K+ reviews</p>
                    </div>
                    <img src="/images/other/googleplay-download-icon.svg" />
                </div>
            </div>
        </div>
    </div>
</section>