<section id="manage-work">
    <div class="container">
        <img src="/images/other/taskmaster-front.svg" />
        <div class="content">
            <h2>Manage Your Work</h2>
            <div class="box"><i class="fa-regular fa-circle-check"></i><p>Powerful project management</p></div>
            <div class="box"><i class="fa-regular fa-circle-check"></i><p>Transparent work management</p></div>
            <div class="box"><i class="fa-regular fa-circle-check"></i><p>Manage work & focus on the most important tasks</p></div>
            <div class="box"><i class="fa-regular fa-circle-check"></i><p>Track your progress with interactive charts</p></div>
            <div class="box"><i class="fa-regular fa-circle-check"></i><p>Easiest way to track time spent on tasks</p></div>
            <a class="btn-theme" href="/">Learn More<i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</section>
