<section id="single-course-header">

    <div class="background-image">
        <div class="container">
            <div class="content">
                <div class="course-title">
                    <div class="flex">
                        <div class="best-seller">
                            <p>Best seller</p>
                        </div>
                        <div class="digital">
                            <p>Digital</p>
                        </div>
                    </div>
                    <h1>Fullstack Web Developer Course from Scratch</h1>
                    <p class="opacity">Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</p>
                </div>
                <div class="reviews">
                    <div class="rating-info">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <p>(1.2K reviews)</p>
                    </div>
                    <div class="divider"></div>
                    <div class="rating-info">
                        <i class="fa-regular fa-thumbs-up"></i>
                        <p>5K likes</p>
                    </div>
                    <div class="divider"></div>
                    <div class="rating-info">
                        <i class="fa-regular fa-clock"></i>
                        <p>160 hours</p>
                    </div>
                </div>
            </div>
            <div class="author-profile">
                <div><img src="/images/courses/author-image.svg" alt=""></div>
                <div>
                    <h6>Created by</h6>
                    <p>Albert Flores</p>
                </div>
            </div>
        </div>
    </div>
</section>
@code {

}
