@page "/account/notifications"

<section id="notifications">
    <div class="container">
        <form action="" method="post" id="notification-form">
            <div class="content">
                <div class="title-form">
                    <h2>Notifications</h2>
                    <div class="email-form">
                        <label for="email">Preferred email for notifications</label>
                        <input type="email" id="email" placeholder="example@gmail.com" tabindex="1">
                    </div>
                </div>

                <div>
                    <div class="btn-toggle">
                        <label class="subscribe-toggle" for="subscribe-toggle-mode">
                            <input type="checkbox" id="subscribe-toggle-mode">
                            <span class="slider round"></span>
                        </label>
                        <h6>Subscribe to Newsletter</h6>
                    </div>
                    <p>Nec, posuere non felis duis massa vitae aliquet interdum scelerisque. Neque ullamcorper.</p>

                    <div class="btn-toggle">
                        <label class="darktheme-toggle" for="darktheme-toggle-mode">
                            <input type="checkbox" id="darktheme-toggle-mode">
                            <span class="slider round"></span>
                        </label>
                        <h6>Use Dark Mode Theme in Application</h6>
                    </div>
                    <p>Tortor massa porttitor enim tristique neque fermentum sed.</p>
                </div>
            </div>

            <div class="account-buttons">
                <a class="btn-gray" href="account.html">Cancel</a>
                <a class="btn-theme">Save changes</a>
            </div>
        </form>
    </div>
</section>

@code {

}
